
body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.page {
    position: absolute;
    top: 10px;
    left: 500px;
}

.teks1 {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 100px;
}
.teks2 {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 140px;
}

.user {
    position: absolute;
    border: none;
    border-radius: 100px;
    width: 350px;
    height: 30px;
    top: 195px;
    left: 1px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.email {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 220px;
}

.em {
    position: absolute;
    border: none;
    border-radius: 100px;
    width: 350px;
    height: 30px;
    top: 275px;
    left: 1px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.pw {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 300px;
}

.pswrd {
    position: absolute;
    border: none;
    border-radius: 100px;
    width: 350px;
    height: 30px;
    top: 360px;
    left: 1px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.reg {
    position: absolute;
    border: none;
    top: 420px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.reg::after,
.reg::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    transition: width 0.3s ease,background-color 0.3s ease;
    border-radius: 100px;
}


.reg::before {
    top: 50px;
}

.reg::after {
    bottom: 50px;
}

.reg:hover::after,
.reg:hover::before
{
  
    background-color: rgb(0, 204, 255);
    width: 100%;
    border-radius: 100px;

}

.yakin {
    position: absolute;
    top: 435px;
    left: 180px;
    width: 190px;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.yakin::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease,left 0.3s ease;
    transform: translateX(-50%);
    border-radius: 100px;
    top: 30px;

}

.yakin:hover::after {
    width: 80%;
    background-color: aqua;
    border-radius: 100px;
    
}



.teks3 {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 100px;
}
.teks4 {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 140px;
}

.user1 {
    position: absolute;
    border: none;
    border-radius: 100px;
    width: 350px;
    height: 30px;
    top: 195px;
    left: 1px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    font-size: 18px;
}


.pw1 {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 220px;
}

.pswrd1 {
    position: absolute;
    border: none;
    border-radius: 100px;
    width: 350px;
    height: 30px;
    top: 280px;
    left: 1px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.reg1 {
    position: absolute;
    border: none;
    top: 350px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.reg1::after,
.reg1::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    transition: width 0.3s ease,background-color 0.3s ease;
    border-radius: 100px;
}


.reg1::before {
    top: 50px;
}

.reg1::after {
    bottom: 50px;
}

.reg1:hover::after,
.reg1:hover::before
{
  
    background-color: rgb(0, 204, 255);
    width: 100%;
    border-radius: 100px;

}

.yakin1 {
    position: absolute;
    top: 360px;
    left: 180px;
    width: 200px;
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.yakin1::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease,left 0.3s ease;
    transform: translateX(-50%);
    border-radius: 100px;
    top: 30px;

}

.yakin1:hover::after {
    width: 90%;
    background-color: aqua;
    border-radius: 100px;
    
}